<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeVerse-BBA</title>
    <link rel="stylesheet" href="css/bca.css">
</head>
<body>
    <section class="dept-home-section container">
            <p class="dept-home-heading">Bachelor of Business Administration</p>
        <div class="dept-home">
            <div class="dept-home-left">
                <img src="images/bba.jpg" alt="">
            </div>
            <div class="dept-home-right">
                <p>
                    The Bachelor of Business Administration course nurtures the inner managerial skills and prepares students to take up business challenges and tackle the same effectively. Alternatively, grooming the management skills of the students widens the employment opportunities for them in different fields. 
BBA course deals with the core topics of marketing, accounting, business, Human Resource Management, operations management, strategic management and more. It offers a broad knowledge of the functional aspects of an organisation and its interconnection. 
                </p>
                <div class="dept-button">
                    <div class="dept-btn"><a href="#Notes">Notes</a></div>
                    <div class="dept-btn"><a href="#PYQ">PYQS</a></div>
                </div>
        </div>
    </section>
    <!-- Notes Section -->
    <section class="dept-notes container" id="Notes">
        <div class="noteheadings">
        <p class="notes-heading">Notes</p>
        </div>
        <div class="notes-content">
            <div class="notes">
                <p class="notes-para">First Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Second Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Third Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fourth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fifth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Sixth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pyqs Section -->
    <section class="pyqs container" id="PYQ">
        <div class="pyq-head">
            <p>Previous Year Questions</p>
        </div>
        <div class="pyq-search">
            <div class="search-item">
                <p>Semester: </p>
                <div class="dropdown">
                    <input type="text" class="textBox" placeholder="Semester">
                    <div class="option">
                        <div onclick="show('First')">First</div>
                        <div onclick="show('Second')">Second</div>
                        <div onclick="show('Third')">Third</div>
                        <div onclick="show('Fourth')">Fourth</div>
                        <div onclick="show('Fifth')">Fifth</div>
                        <div onclick="show('Sixth')">Sixth</div>
                    </div>
                </div>
            </div>
            <div class="search-item">
                <p>Year: </p>
                <div class="dropdown drop-2">
                <input type="text" class="textBox2" placeholder="Year" readonly>
                <div class="option">
                    <div onclick="show2('2022')">2022</div>
                    <div onclick="show2('2021')">2021</div>
                    <div onclick="show2('2020')">2020</div>
                    <div onclick="show2('2019')">2019</div>
                    <div onclick="show2('2018')">2018</div>
                </div>
                </div>
            </div>
            <div class="notes-btn">Search</div>
        </div>
        <p class="pyq-error">* Not Availabe right now. Will be Upload soon</p>
        <div class="search-div-container">
            <!-- First 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">third-221</span>
                </div>
            <!-- 2nd 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">third-21</span>
                </div>
            <!-- Third 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">third-20</span>
            </div>
           
            <!-- Third-2021 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">third-21</span>  
        </div>

    </section>
    <script src="js/javascript.js"></script>
</body>
</html>