<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeVerse-BCA</title>
    <link rel="stylesheet" href="css/bca.css">
</head>
<body>
    <section class="dept-home-section container">
            <p class="dept-home-heading">Bachelor of Computer Application</p>
        <div class="dept-home">
            <div class="dept-home-left">
                <img src="images/bca.jpg" alt="">
            </div>
            <div class="dept-home-right">
                <p>
                    The Bachelor of Computer Application programme has been initiated for students to excel in computer-facing job roles. Candidates interested in taking up Information Technology or IT as their career path can opt for this bachelor's degree programme. After completing BCA courses, one also has the scope to opt for the MCA program and secure more lucrative job opportunities for the future. 
BCA course deals with every aspect of Computer programming. 
                </p>
                <div class="dept-button">
                    <div class="dept-btn"><a href="#Notes">Notes</a></div>
                    <div class="dept-btn"><a href="#PYQ">PYQS</a></div>
                </div>
        </div>
    </section>
    <!-- Notes Section -->
    <section class="dept-notes container" id="Notes">
        <div class="noteheadings">
        <p class="notes-heading">Notes</p>
        </div>
        <div class="notes-content">
            <div class="notes">
                <p class="notes-para">First Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Digital Electronics</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Programming for Problem Solving</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Mathematics for Computing</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Soft Skills</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Second Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Discrete Structures</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Computer Architecture</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Environmental Science</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Data Analysis with R</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Third Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Object Oriented Programming</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Operating System</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Data Structure and Algorithm</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Value and Ethics of Profession</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>The Language of Graphic design</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fourth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>DBMS</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Software Engineering</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Python Programming</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Entreprenurship</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Principle Of Management</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fifth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Sixth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pyqs Section -->
    <section class="pyqs container" id="PYQ">
        <div class="pyq-head">
            <p>Previous Year Questions</p>
        </div>
        <div class="pyq-search">
            <div class="search-item">
                <p>Semester: </p>
                <div class="dropdown">
                    <input type="text" class="textBox" placeholder="Semester">
                    <div class="option">
                        <div onclick="show('First')">First</div>
                        <div onclick="show('Second')">Second</div>
                        <div onclick="show('Third')">Third</div>
                        <div onclick="show('Fourth')">Fourth</div>
                        <div onclick="show('Fifth')">Fifth</div>
                        <div onclick="show('Sixth')">Sixth</div>
                    </div>
                </div>
            </div>
            <div class="search-item">
                <p>Year: </p>
                <div class="dropdown drop-2">
                <input type="text" class="textBox2" placeholder="Year" readonly>
                <div class="option">
                    <div onclick="show2('2022')">2022</div>
                    <div onclick="show2('2021')">2021</div>
                    <div onclick="show2('2020')">2020</div>
                    <div onclick="show2('2019')">2019</div>
                    <div onclick="show2('2018')">2018</div>
                </div>
                </div>
            </div>
            <div class="notes-btn">Search</div>
        </div>
        <p class="pyq-error">* Not Availabe right now. Will be Upload soon</p>
        <div class="search-div-container">
            <!-- First 2022 -->
            <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Digital Electronics</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Programming for Problem Solving</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Mathematics for Computing</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Soft Skills</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">first-2022</span>
                </div>
            <!-- 2nd 2022 -->
            <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Discrete Structures</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Computer Architecture</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Environmental Science</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Analysis with R</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">second-2022</span>
                </div>
            <!-- Third 2022 -->
            <div class="search-div">
            <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
            <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Object Oriented Programming</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
            <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Operating System</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
            <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Structure and Algorithm</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
            <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Value and Ethics of Profession</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
            <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">The Language of Graphic design</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
            <span class="third-2022" style="display: none;">third-2022</span>
            </div>
            <!-- fourth 2022 -->
            <!-- <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Object Oriented Programming</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Operating System</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Structure and Algorithm</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Value and Ethics of Profession</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">The Language of Graphic design</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">third-2022</span>
                </div> -->
            <!-- Fifth 2022 -->
            <!-- <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Object Oriented Programming</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Operating System</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Structure and Algorithm</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Value and Ethics of Profession</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">The Language of Graphic design</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">third-2022</span>
                </div> -->
            <!-- Sixth 2022 -->
            <!-- <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Object Oriented Programming</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Operating System</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Structure and Algorithm</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Value and Ethics of Profession</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">The Language of Graphic design</p> <P class="year">2022</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">third-2022</span>
                </div> -->
            <!-- Third-2021 -->
            <div class="search-div">
                <div class="sub-list"><p class="code">Paper Code</p>  <p class="sub-list-sub">Paper Name</p> <P class="year">Year</P> <p class="sub-list-download">Download</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Object Oriented Programming</p> <P class="year">2021</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Operating System</p> <P class="year">2021</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Data Structure and Algorithm</p> <P class="year">2021</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">Value and Ethics of Profession</p> <P class="year">2021</P> <p class="sub-list-download">Click Here</p></div>
                <div class="sub-list"><p class="code">BCA</p>  <p class="sub-list-sub">The Language of Graphic design</p> <P class="year">2021</P> <p class="sub-list-download">Click Here</p></div>
                <span class="third-2022" style="display: none;">third-2021</span>
                </div>
        </div>

    </section>
    <script src="js/javascript.js"></script>
</body>
</html>