<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeVerse-BHM</title>
    <link rel="stylesheet" href="css/bca.css">
</head>
<body>
    <section class="dept-home-section container">
            <p class="dept-home-heading"">Bachelor of Business Administration in Hospital Management</p>
           <div class="dept-home">
            <div class="dept-home-left">
                <img src="images/bhm.jpg" alt="">
            </div>
            <div class="dept-home-right">
                <p>
                    As health care agencies are an undeniable necessity in our lives there has been a steady rise in the demand for professional and qualified personnel in such sectors. We train our students to work in sectors like human resources, medical records management, financial management, marketing executive and quality control manager of hospitals and other healthcare facilities. 
                     
                </p>
                <div class="dept-button">
                    <div class="dept-btn"><a href="#Notes">Notes</a></div>
                    <div class="dept-btn"><a href="#PYQ">PYQS</a></div>
                </div>
        </div>
    </section>
    <!-- Notes Section -->
    <section class="dept-notes container" id="Notes">
        <div class="noteheadings">
        <p class="notes-heading">Notes</p>
        </div>
        <div class="notes-content">
            <div class="notes">
                <p class="notes-para">First Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Hospital Operations Management</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Hospital and Health Systems </p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Principles of Management</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p> English Communication</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Second Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Medical Terminology</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Hospital Overview (Field Visit)</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Bio Statistics</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Environment & Sustainable Development</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Third Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Medical Record Science</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Health Care Marketing</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Health Information Systems </p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Medical Ethics, Law and Etiquette</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Computer Applications</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fourth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p>Public Health and Health Care Planning</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Support Utility Systems-I</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Hospital Inventory Management</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Presentstion Skills and Excel Basics for Data Analysis</p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p>Basic HealthCare Analytics</p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Fifth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="notes">
                <p class="notes-para">Sixth Semester</p>
                <div>
                    <div class="notes-sub"><p>Subject</p><p>Download</p></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                    <div class="notes-sub"><p></p><a href="#">Click Here</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pyqs Section -->
    <section class="pyqs container" id="PYQ">
        <div class="pyq-head">
            <p>Previous Year Questions</p>
        </div>
        <div class="pyq-search">
            <div class="search-item">
                <p>Semester: </p>
                <div class="dropdown">
                    <input type="text" class="textBox" placeholder="Semester">
                    <div class="option">
                        <div onclick="show('First')">First</div>
                        <div onclick="show('Second')">Second</div>
                        <div onclick="show('Third')">Third</div>
                        <div onclick="show('Fourth')">Fourth</div>
                        <div onclick="show('Fifth')">Fifth</div>
                        <div onclick="show('Sixth')">Sixth</div>
                    </div>
                </div>
            </div>
            <div class="search-item">
                <p>Year: </p>
                <div class="dropdown drop-2">
                <input type="text" class="textBox2" placeholder="Year" readonly>
                <div class="option">
                    <div onclick="show2('2022')">2022</div>
                    <div onclick="show2('2021')">2021</div>
                    <div onclick="show2('2020')">2020</div>
                    <div onclick="show2('2019')">2019</div>
                    <div onclick="show2('2018')">2018</div>
                </div>
                </div>
            </div>
            <div class="notes-btn">Search</div>
        </div>
        <p class="pyq-error">* Not Availabe right now. Will be Upload soon</p>
        <div class="search-div-container">
            <!-- First 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">thir021</span>
            </div>
            <!-- 2nd 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">thir021</span>
            </div>
            <!-- Third 2022 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">third021</span>
            </div>
            <!-- Third-2021 -->
            <div class="search-div">
                <span class="third-2022" style="display: none;">thir2021</span>
            </div>
        </div>

    </section>
    <script src="js/javascript.js"></script>
</body>
</html>