<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="css/resource.css">
</head>
<body>
    <%- include ("../partials/header.ejs") -%>
    <!-- {{!-- Home Page --}} -->
    <section class="resource-home">
        <h3>One PlatForm For All Department</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, soluta minus cum itaque accusantium assumenda corrupti incidunt atque. Repellendus dignissimos accusantium amet in! Mollitia dolore cumque nesciunt unde deleniti iusto!</p>
        <div class="resource-home-button">
            <a href="#read" class="hover-effect">Read More</a>
        </div>
    </section>
    <section class="resource-feature" id="read">
        <div class="resource-feature-card">
            <div class="feature-card-left">
                <img src="resources-img/bca.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>Bachelor of Computer Application</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button ">
                    <a href="/bca" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
        <div class="resource-feature-card" style="flex-direction: row-reverse;">
            <div class="feature-card-left">
                <img src="resources-img/bba.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>Bachelor of Business Administration</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button white-btn">
                    <a href="/bba" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
        <div class="resource-feature-card">
            <div class="feature-card-left">
                <img src="resources-img/bhm.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>BBA Hospital Management</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button ">
                    <a href="/bhm" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
        <div class="resource-feature-card" style="flex-direction: row-reverse;">
            <div class="feature-card-left">
                <img src="resources-img/scm.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>BBA (Supply Chain Management)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button white-btn ">
                    <a href="#" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
        <div class="resource-feature-card">
            <div class="feature-card-left">
                <img src="resources-img/mlt2.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>B.Sc. in Medical Lab Technology</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button ">
                    <a href="#" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
        <div class="resource-feature-card" style="flex-direction: row-reverse;">
            <div class="feature-card-left">
                <img src="resources-img/opto.jpg" alt="">
            </div>
            <div class="feature-card-right">
                <h3>Bachelor of Optometry</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, qui perferendis! Excepturi, sed? Nisi debitis provident autem deleniti obcaecati eaque nobis beatae quisquam facere rem expedita, ea incidunt minima. Esse.
                </p>
                <div class="card-button white-btn">
                    <a href="#" class="hover-effect">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <%- include ("../partials/footer.ejs") -%>
      <script
      src="https://kit.fontawesome.com/0377ad9788.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>