<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/headerlinks.ejs") -%>
</head>
<body>
    <section class="footer">
      <div class="footer-main container flex">
        <div class="footer-logo">
          <a href="#">CollegeVerse</a>
        </div>
        <div class="footer-right">
          <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
              <li class="footer-list"><a href="/SignIn" class="footer-items">> <span>Sign In</span></a></li>
              <li class="footer-list"><a href="/Signup" class="footer-items">> <span>Sign Up</span></a></li>
              <li class="footer-list"><a href="#" class="footer-items">> <span>Contact Us</span></a></li>
              <li class="footer-list"><a href="/aboutus" class="footer-items">> <span>About Us</span></a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Resources</h3>
            <ul>
              <li class="footer-list"><a href="/resources" class="footer-items">> <span>Department</span></a></li>
              <li class="footer-list"><a href="#" class="footer-items">> <span>Notes</span></a></li>
              <li class="footer-list"><a href="#" class="footer-items">> <span>PYQS</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="sub-footer flex" id="contact">
      <a href="#" class="email">collegeverse@gmail.com</a>
      <a href="" class="sub-footer-logo">CollegeVerse</a>
      <div class="icons flex">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </section>
</body>
</html>