@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Arvo&family=EB+Garamond:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hover-effect:hover{
    box-shadow: 0 0 10px #5a5cbe;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Aleo', serif;
    color: #737373;
}
.resource-home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 60vh;
    text-align: center;
    margin-top: 30px;
}
.resource-home h3{
    font-size: 50px;
    font-family: 'EB Garamond', serif;
    color: #5a5cbe;
}
.resource-home p{
    font-size: 20px;
}
.resource-home-button{
    width: auto;
    margin-top: 20px;
}

.resource-home-button a{
    background-color: #5a5cbe;
    font-size: 21.3px;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: white !important;
}

/* Resource feature section */
.resource-feature{
    margin-top: 50px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.resource-feature-card{
    display: flex;
    gap: 20px;
}
.feature-card-left{
    width: 50%;
}
.feature-card-left img{
    width: 100%;
}

.feature-card-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.feature-card-right h3{
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    color: #5a5cbe;
}
.card-button{
    margin-top: 20px;
}
.card-button a{
    background-color: #5a5cbe;
    font-size: 21.3px;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: white !important;
}
.white-btn a{
    background: #fff !important;
    color: #5a5cbe !important;
    border: 1px solid #5a5cbe;
}
@media screen and (max-width:550px){
    .resource-feature-card{
        flex-direction: column;
    }
    .feature-card-right{
        width: 100%;
    }
    .feature-card-left{
        width: 100%;
    }
    .resource-feature-card:nth-child(2){
        flex-direction: column!important;
    }
    .resource-feature-card:nth-child(4){
        flex-direction: column!important;
    }
    .resource-feature-card:nth-child(6){
        flex-direction: column!important;
    }

}